<!-- Image Section - set the background image for the header in the line below -->
    <section class="py-5 bg-image-full" style="background-image: url('https://i.imgur.com/2W4WGMS.jpg'); background-position: right -90px bottom 0px;">
      <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
      <div style="height: 200px;"></div>
    </section>


<footer>
      <div class="footer-copyright py-3 text-center">
          <div class="container-fluid">
              © 2018 | Hani Zahra 
          </div>
      </div>
</footer>

<script src='/bower_components/jquery/dist/jquery/.js'></script>
<script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>

</body>
</html>
