<% include ./partials/boilerplate.ejs %>



   	<div class="masthead text-black text-center">
      	<div class="overlay"></div>
	      	<div class="container">
	        	<div class="row">
		          	<div class="col-xl-9 mx-auto"><br>
		            	<h1 class="mb-5" >Building 311</h1>
		            	<p class="lead">Search your building history for complaints and violations.</p>
		            	<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
		            			<form action="/scrape" method="post">

					              	<div class="form-row">
						                <div class="col-12 col-md-4 mb-2 mb-md-0">
						                  <input type="text" name="houseNum" class="form-control form-control-lg" placeholder="Number...">
						                </div>
						                <div class="col-12 col-md-4 mb-2 mb-md-0">
						                  <input type="text" name="houseStreet" class="form-control form-control-lg" placeholder="Street...">
						                </div>
						                <div class="col-12 col-md-4 mb-2 mb-md-0">
						                  <input type="text" name="houseBoro" class="form-control form-control-lg" placeholder="Borough...">
						                </div>
						                <div class="col-12 col-md-3">
						                  <button type="submit" name="submit" class="btn btn-block btn-lg btn-primary">Submit</button>
					                	</div>
					    			</div>


		            			</form>
		            	</div>		
		          	</div>
		        </div>
	          
	        </div>
	    </div>
    </div>

   <!-- <form action="/scrape" method="post">
	<label>
		<input type="text" name="houseNum">
		<p>Number</p>
	</label>
	<label>
		<input type="text" name="houseStreet">
		<p>Street</p>
	</label>
	<label>
		<input type="text" name="houseBoro">
		<p>Borough</p>
	</label>
	<input type="submit" name="submit">
</form><br><br> -->


<% include ./partials/footer.ejs %>