<% include ../partials/boilerplate.ejs %>

<h1> Building Queries </h1>

<div>
  <h2><%= message %></h2>
  <h3><%=  %></h3>
  <p><%= JSON.stringify(buildings) %></p>
</div>

<% include ../partials/footer.ejs %>