<% include ../partials/boilerplate.ejs %>

<h1>building info page</h1>

<div>
  <h1><%=  %></h1>
  <h2><%= message %></h2>
  <h3><%=  %></h3>
  <p><%= JSON.stringify(buildings) %></p>
</div>

<% include ../partials/footer.ejs %>