<% include ../partials/boilerplate.ejs %>

<h1> Building Violations </h1>

<div>
  <h2><%= message %></h2>
  <h3><%= JSON.stringify(violations) %></h3>
  <p><%=  %></p>
</div>

<% include ../partials/footer.ejs %>